<header ng-controller="mainController">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <!-- take up first 15% of toolbar -->
        <span flex="20"></span>
        <!-- logo that links to home page -->
        <span flex="30">
          <A NG-HREF="index.html"><img ng-src="/static/img/DS copy.png" /></A>
        </span>
        <span flex="30">
          Welcome, John Doe!
        </span>
        <span flex="10">
          <a ui-sref="submitStory">
            <md-button class="md-fab md-accent">
              <md-icon md-svg-src="/static/img/ic_add_black_24px.svg"></md-icon>
            </md-button>
          </a>
        </span>
        <span flex="15"></span>
      </div>
    </md-toolbar>
</header>
<style>
  .contentBox {
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #B2EBF2;
    margin: 2% 30%;
    border: solid 1px #00BCD4;
    flex-direction: column;
    box-shadow: 3px 3px 5px 6px #ccc;
  }
</style>
<div class="contentBox">
<div ng-repeat="c in content">
  <div ng-if="isPicture(c)">
    <md-card>
      <img ng-src="{{c.url}}" class="md-card-image" alt="Washed Out" height="42" width="42">
    </md-card>
  </div>
  <div ng-if="isText(c)">
    <md-card>
      <md-card-content>
        <p>
          {{c.content}}
        </p>
      </md-card-content>
    </md-card>
  </div>
</div>
</div>
