<style>
  #homeContainer {
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #B2EBF2;
    margin: 1% 30%;
    border: solid 1px #00BCD4;
    flex-direction: row;
    box-shadow: 3px 3px 5px 6px #ccc;
  }
</style>

<md-content class="md-padding" id="homeContainer">
  <md-button class="md-raised" aria-label="Eat cake" ng-click="prevStory()">
    <md-icon md-svg-src="static/img/ic_undo_black_24px.svg"></md-icon>
  </md-button>

  <md-card>

    <img ng-src="{{currStory.headpic}}" class="md-card-image" alt="Washed Out">
    <br>
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">{{currStory.title}}</span>
      </md-card-title-text>
    </md-card-title>
    <br>
    <md-card-content>
      {{currStory.desc}}
    </md-card-content>
  </md-card>

  <md-button class="md-raised" aria-label="Eat cake" ng-click="nextStory()">
    <md-icon md-svg-src="static/img/ic_redo_black_24px.svg"></md-icon>
  </md-button>
</md-content>
