<style>
  #homeContainer {
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #B2EBF2;
    margin: 1% 30%;
    border: solid 1px #00BCD4;
    flex-direction: row;
    box-shadow: 3px 3px 5px 6px #ccc;
  }
</style>

<header ng-controller="mainController">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <!-- take up first 15% of toolbar -->
      <span flex="20"></span>
      <!-- logo that links to home page -->
      <span flex="30">
        <A NG-HREF="index.html"><img ng-src="/static/img/DS copy.png" /></A>
      </span>

      <span flex="30">

        {{getName()}}




      </span>
      <span flex="10">
        <a ui-sref="main.submit"> <md-button class="md-fab md-accent">
          <md-icon md-svg-src="/static/img/ic_add_black_24px.svg"></md-icon>
        </md-button> </a>
        </span>
      <span flex="15">


      </span>
    </div>
  </md-toolbar>
</header>

<md-content class="md-padding" id="homeContainer">
  <md-button class="md-raised" aria-label="Eat cake">
    <md-icon md-svg-src="static/img/ic_undo_black_24px.svg"></md-icon>
  </md-button>

  <md-card>
    <img ng-src="static/img/elderly-man-smile.jpg" class="md-card-image" alt="Washed Out">
    <br>
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">My Grandpa</span>
      </md-card-title-text>
    </md-card-title>
    <br>
    <md-card-content>
      <p>
        The titles of Washed Out's breakthrough song and the first single from Paracosm share the
        two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
      </p>
    </md-card-content>
  </md-card>

  <md-button class="md-raised" aria-label="Eat cake">
    <md-icon md-svg-src="static/img/ic_redo_black_24px.svg"></md-icon>
  </md-button>
</md-content>
