<style>
#page-wrap {
  margin: 5%
}
</style>

<div id = "page-wrap">

  <form layout>
    Choose an upload type:
    <input type="radio" ng-model="uploadForm" value="picture">Picture
    <input type="radio" ng-model="uploadForm" value="video">Video
    <input type="radio" ng-model="uploadForm" value="text">Text
  </form>

  <div ng-switch="uploadForm">
    <div ng-switch-when="picture">
      <md-button class="md-raised md-primary" type="upload" value="Upload">
          Upload
      </md-button>
    </div>
    <div ng-switch-when="video">
      <md-button class="md-raised md-primary" type="upload" value="Upload">
          Upload
      </md-button>
    </div>
    <div ng-switch-when="text">
      <form>
        <p>Enter your text here:</p>
        <input type="text" ng-model="storyText">
      </form>
    </div>
  </div>

  <div ng-show="!registration">
    <form name="userForm" ng-submit="submivtLogin(loginUser)">
      <div layout="row" layout-align="center center">
        <md-button class="md-raised md-primary" type="submit" value="Submit">
          submit
        </md-button>

        <md-button class="md-raised md-primary" ng-click="cancelLogin()">
          cancel
        </md-button>
      </div>
    </form>
  </div>
</div>
