<style>
    #page-wrap {
        margin: 5%;
    }
</style>

<div id = "page-wrap">

    <div layout="row" layout-align="center center">
        <h1 style="font-size:250%;font-family:verdana;color:cadetblue;">
            Upload your story.
        </h1>
    </div>

    <div layout="row" layout-align="center center">
        <div
                style="background-color:floralwhite;width:500px;height:400px;padding:10px;border:10px outset yellowgreen;">
            <br></br>
            <div layout="row" layout-align="center center">
                <form id="audioUpload">
                    <input type="file" onchange="angular.element(this).scope().imageUpload(event)">
                </form>
            </div>

            <div layout="row" layout-align="center center">
                <form ng-submit="addText()">
                    <md-input-container>
                        <label>Enter Story Title:</label>
                        <input ng-model="addTitle" type="text">
                    </md-input-container>
                </form>
            </div>

            <div layout="row" layout-align="center center">
                <form ng-submit="addText()">
                    <md-input-container>
                        <label>Enter Story Description:</label>
                        <input ng-model="addDesc" type="text">
                    </md-input-container>
                </form>
            </div>



            <div layout="row" layout-align="center center">
                <a ui-sref="main.display">
                    <md-button class="md-raised md-primary" type="submit" value="Submit">
                        submit
                    </md-button>
                </a>

                <a ui-sref="main.display">
                    <md-button class="md-raised md-primary">
                        cancel
                    </md-button>
                </a>
            </div>
        </div>
    </div>


</div>
</div>
