<style>
#page-wrap {
  margin: 5%;
}
</style>

<header ng-controller="mainController">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <!-- take up first 15% of toolbar -->
            <span flex="20"></span>
            <!-- logo that links to home page -->
      <span flex="30">
        <A NG-HREF="index.html"><img ng-src="/static/img/DS copy.png" /></A>
      </span>

      <span flex="30">

        Welcome, John Doe!

      </span>
      <span flex="10">
        <a ui-sref="submitStory"> <md-button class="md-fab md-accent">
            <md-icon md-svg-src="/static/img/ic_add_black_24px.svg"></md-icon>
        </md-button> </a>
        </span>
      <span flex="15">

      </span>
        </div>
    </md-toolbar>
</header>
<div ui-view></div>

<div id = "page-wrap">

<div layout="row" layout-align="center center">
  <h1 style="font-size:250%;font-family:verdana;color:cadetblue;">
    Update your story feed.
  </h1>
</div>

<div layout="row" layout-align="center center">
  <div
  style="background-color:floralwhite;width:500px;height:400px;padding:10px;border:10px outset yellowgreen;">
    <div layout="row" layout-align="center center">
      <form layout>

        Choose an upload type:
        <input type="radio" ng-model="uploadForm" value="picture">Picture
        <input type="radio" ng-model="uploadForm" value="audio">Audio
        <input type="radio" ng-model="uploadForm" value="video">Video
        <input type="radio" ng-model="uploadForm" value="text">Text
      </form>
    </div>

    <div ng-switch="uploadForm">
      <div ng-switch-when="picture">
        <br></br>
        <div layout="row" layout-align="center center">
          <form id="pictureUpload">
            <input type="file" onchange="angular.element(this).scope().imageUpload(event)">
          </form>
        </div>

      </div>
      <div ng-switch-when="audio">
        <br></br>
        <div layout="row" layout-align="center center">
          <form id="audioUpload">
            <input type="file" onchange="angular.element(this).scope().imageUpload(event)">
          </form>
        </div>

      </div>
      <div ng-switch-when="video">
        <br></br>
        <div layout="row" layout-align="center center">
          <form id="videoUpload">
            <input type="file" onchange="angular.element(this).scope().imageUpload(event)">
          </form>
        </div>

      </div>
      <div ng-switch-when="text">
        <div style="margin-bottom:-2.15em;">
          <div layout="row" layout-align="center center">
            <form ng-submit="addText()">
              <md-input-container>
                <label>Enter your text here:</label>
                <input ng-model="addText" type="text">
              </md-input-container>
            </form>
          </div>
        </div>
      </div>
    </div>

    <form ng-submit="addDate()">
      <div layout="row" layout-align="center center">
        <md-input-container>
          <label>Enter the date:</label>
          <input ng-model="addDate" type="date">
        </md-input-container>
      </div>
    </form>

    <div layout="row" layout-align="center center">
      <a ui-sref="home">
        <md-button class="md-raised md-primary" type="submit" value="Submit">
          submit
        </md-button>
      </a>

      <a ui-sref="home">
        <md-button class="md-raised md-primary">
        cancel
        </md-button>
      </a>
    </div>
  </div>
</div>


  </div>
</div>
