<style>
    #page-wrap {
        margin: 5%;
    }
    .outsetBorder{
        border-top:10px solid #40C4FF;
        border-left:10px solid #40C4FF;
        border-right:10px solid #448AFF;
        border-bottom:10px solid #448AFF;
    }
</style>

<header ng-controller="mainController">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <!-- take up first 15% of toolbar -->
            <span flex="20"></span>
            <!-- logo that links to home page -->
      <span flex="30">
        <A NG-HREF="index.html"><img ng-src="/static/img/DS copy.png" /></A>
      </span>

      <span flex="30">

        Welcome, John Doe!

      </span>
      <span flex="10">
        <a ui-sref="submitStory"> <md-button class="md-fab md-accent">
            <md-icon md-svg-src="/static/img/ic_add_black_24px.svg"></md-icon>
        </md-button> </a>
        </span>
      <span flex="15">

      </span>
        </div>
    </md-toolbar>
</header>
<div id = "page-wrap">

    <div layout="row" layout-align="center center">
        <h1 style="font-size:250%;font-family:verdana;">
            Upload your story.
        </h1>
    </div>

    <div layout="row" layout-align="center center">
        <div
                style="background-color:ghostwhite;width:500px;height:400px;padding:10px;" class="outsetBorder">
            <br></br>
            <div layout="row" layout-align="center center">
              <md-button ng-disabled="true" class="md-primary">header picture</md-button>
            </div>
            <br>
            <div layout="row" layout-align="center center">
                <form id="headerUpload">
                    <input type="file" onchange="angular.element(this).scope().imageUpload(event)">
                </form>
            </div>

            <div layout="row" layout-align="center center">
                <form ng-submit="addText()">
                    <md-input-container>
                        <label>Enter Story Title:</label>
                        <input ng-model="title" type="text" required>
                    </md-input-container>
                </form>
            </div>

            <div layout="row" layout-align="center center">
                <form ng-submit="addText()">
                    <md-input-container>
                        <label>Enter Story Description:</label>
                        <input ng-model="descr" type="text" required>
                    </md-input-container>
                </form>
            </div>

            <div layout="row" layout-align="center center">
                <md-button class="md-raised md-primary" type="submit" ng-click="submit()">
                  submit
                </md-button>

                <a ui-sref="home">
                    <md-button class="md-raised md-primary">
                        cancel
                    </md-button>
                </a>
            </div>
        </div>
    </div>


</div>
</div>
